.not-found {
  display: grid;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  grid-template-rows: 50% 25%;
}

.not-found__error {
  margin: 0;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: flex-end;
}

.not-found__text {
  margin: 0;
  padding-top: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.not-found__back-button {
  background-color: transparent;
  border: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .not-found {
    grid-template-rows: 68% 20%;
  }

  .not-found__error {
    font-size: 140px;
  }

  .not-found__text {
    font-size: 16px;
    padding-top: 7px;
  }

  .not-found__back-button {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .not-found {
    max-width: 1280px;
    grid-template-rows: 49% 1%;
  }
}

