.section-title__title {
  margin: 0;
  padding-bottom: 28px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  border-bottom: 1px solid #000;
}

@media screen and (min-width: 768px) {
  .section-title__title {
    font-size: 22px;
    letter-spacing: -0.88px;
    padding-bottom: 22px;
  }
}
