.card__img {
  object-fit: cover;
  height: 168px;
  width: 300px;
}

.card__info {
  display: flex;
  border-bottom: 1px solid #E8E8E8;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0 22px;
}

.card__name {
  margin: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card__duration {
  margin: 0;
  padding-top: 6px;
  color: #A0A0A0;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .card__img {
    width: 339px;
    height: 190px;
  }
}

@media screen and (min-width: 1280px) {
  .card__img {
    width: 270px;
    height: 151px;
  }
}
