.promo {
  background-color: #F3C1F8;
  padding-top: 183px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  margin: 0;
  text-align: center;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: -1.24px;
  padding-bottom: 60px;
}

.promo__img {
  padding-bottom: 40px;
  height: 230px;
  display: block;
  position: relative;
  left:55%;
  transform: translate(-40%,0);
}

@media screen and (min-width: 768px) {
  .promo {
    padding-top: 300px;
  }

  .promo__title {
    padding-bottom: 140px;
    max-width: 680px;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.6px;
  }

  .promo__img {
    padding-bottom: 70px;
    left:44%;
    transform: translate(-50%,0);
  }
}

@media screen and (min-width: 1280px) {
  .promo {
    display: block;
    padding-top: 50px;
  }

  .promo__img {
    transform: translate(-10%,0);
    height: 244px;
    padding-bottom: 60px;
  }

  .promo__title {
    max-width: 626px;
    text-align: left;
    padding-left: 70px;
    padding-bottom: 102px;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -1.6px;
  }
}

