.footer__container_saved {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer__container_saved {
    padding-top: 6px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__container_saved {
    padding-top: 240px;
  }
}
